@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

html, body {
    height: 100%;
}

header {
    box-shadow: none !important;
    background: white !important;
    border: 1px solid rgba(0,0,0,0.0975);
}